<head>
    <title>About</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
</head>
<body>
<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</header>

<div class="about-us-cards">
    <div class="card">
        <img src="rihards.jpg" alt="Card image 1">
        <h3>Rihards Bobkovs</h3>
        <p>201RDB061</p>
    </div>
    <div class="card">
        <img src="raitis.jpg" alt="Card image 2">
        <h3>Raitis Ogle</h3>
        <p>201RDB020</p>
    </div>
    <div class="card">
        <img src="deniss.jpg" alt="Card image 3">
        <h3>Deniss Sprūdžs</h3>
        <p>201RDB016</p>
    </div>
</div>

</body>