<head>
    <title>About</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</header>

<div class="text-line">Rihards Bobkovs 201RDB061</div>
<div class="text-line">Raitis Ogle 201RDB020</div>
<div class="text-line">Deniss Sprūdžs 201RDB016</div>

</body>