<head>
    <title>About</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
    <script src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD0mNznCx9EjDIQ9nhmD53u67VXmR5AyTQ&q=Zunda krastmala 10, Kurzemes rajons, Rīga, LV-1048, Latvia"></script>
</head>
<body>
<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</header>

<div class="contact-card">
    <h3>Contact Information</h3>
    <p>Email: <span class="contact-info">contact.us@bookprint.com</span></p>
    <p>Phone Number: <span class="contact-info">(+371) 22 533 533</span></p>
    <p>Address: <span class="contact-info">Zunda krastmala 10, Rīga, LV-1048</span></p>
</div>
<div class="map-container">
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD0mNznCx9EjDIQ9nhmD53u67VXmR5AyTQ&q=Zunda krastmala 10, Kurzemes rajons, Rīga, LV-1048, Latvia"
            frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="about-us-cards">
    <div class="card">
        <img src="rihards.jpg" alt="Card image 1">
        <h3>Rihards Bobkovs</h3>
        <p>201RDB061</p>
    </div>
    <div class="card">
        <img src="raitis.jpg" alt="Card image 2">
        <h3>Raitis Ogle</h3>
        <p>201RDB020</p>
    </div>
    <div class="card">
        <img src="deniss.jpg" alt="Card image 3">
        <h3>Deniss Sprūdžs</h3>
        <p>201RDB016</p>
    </div>
</div>

</body>