<head>
    <title>Admin</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
</head>
<body>

<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">

            <li><a href="/">Home</a></li>
            <li><a href="/orders">Order</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/myorders">My Orders</a></li>
            <li><a href="/myprofile">My Profile</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

</header>

<table>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Name and Surname</th>
        <th>Email</th>
        <th>Street Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Paper Type</th>
        <th>Book Cover</th>
        <th>Page Amount</th>
        <th>Book Quantity</th>
        <th>Total€</th>
        <th>Action</th>
    </tr>
    <% orders.forEach((order) => { %>
        <tr>
            <td><%= order.id %></td>
            <td><%= order.user_id %></td>
            <td><%= order.name_surname %></td>
            <td><%= order.email %></td>
            <td><%= order.street_address %></td>
            <td><%= order.city %></td>
            <td><%= order.country %></td>
            <td><%= order.paper_type %></td>
            <td><%= order.book_cover %></td>
            <td><%= order.page_amount %></td>
            <td><%= order.book_quantity %></td>
            <td><%= order.price %></td>
            <td>
                <form action="/admin/cancel" method="POST">
                    <input type="hidden" name="orderId" value="<%= order.id %>">
                    <button type="submit">Cancel Order</button>
                </form>
            </td>
        </tr>
    <% }); %>
    <% if (locals.message) { %>
        <p class="admin__message"><%= locals.message %></p>
    <% } %>
</table>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <% users.forEach((user) => { %>
        <tr>
            <td><%= user.ID %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td>
                <form action="/admin/delete-user" method="POST">
                    <input type="hidden" name="userId" value="<%= user.ID %>">
                    <button type="submit">Delete User</button>
                </form>
            </td>
        </tr>
    <% }); %>
    <% if (locals.message) { %>
        <p class="admin__message"><%= locals.message %></p>
    <% } %>
</table>

</body>