<head>
    <title>Home</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
</head>
<body>

<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

</header>

<h2>Quality is our passion...</h2>

<div class="about-us-cards1">
    <div class="card1">
        <img src="home_image.png" alt="Card image 1">
        <h3>Quality Control</h3>
        <p>Thanks to advanced and durable printing options, we offer top quality performance. Just your untamed
            creativity.</p>
    </div>
    <div class="card1">
        <img src="home_image2.png" alt="Card image 2">
        <h3>Best Prices</h3>
        <p>We guarantee high product and printing quality and the best price on the market. Because we believe in
            affordable quality.</p>
    </div>
    <div class="card1">
        <img src="home_image3.png" alt="Card image 3">
        <h3>Fast Production</h3>
        <p>We always deliver both: the best shipping price and extra fast delivery. All thanks to our world-wide, high
            class shipping.</p>
    </div>
</div>


</body>