<head>
    <title>Profile</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
</head>
<body>

<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

</header>
<div class="container1">
    <form action="/myprofile" method="POST">
        <div class="form__input-group">
            <label for="name">Name:</label>
            <input type="text" class="form__input" value="<%= user.name %>" id="name" name="name" required>
        </div>
        <div class="form__input-group">
            <label for="email">Email:</label>
            <input type="email" class="form__input" value="<%= user.email %>" id="email" name="email" required>
        </div>
        <div class="form__input-group">
            <label for="password">Password:</label>
            <input type="password" class="form__input" placeholder="Leave blank to keep current password" id="password"
                   name="password">
        </div>
        <button class="form__button" type="submit">Update</button>
    </form>
</div>

</body>