<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <title>Orders</title>
    <link href="ordersmain.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
</head>
<body>

<header>
    <img class="logo" src="icons8-label-printer-96.png" alt="logo">
    <nav>
        <ul class="nav-links">
            <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= currentPath === '/products' ? 'active' : '' %>" href="/products">Products</a></li>
            <li><a class="<%= currentPath === '/orders' ? 'active' : '' %>" href="/orders">Order</a></li>
            <li><a class="<%= currentPath === '/myorders' ? 'active' : '' %>" href="/myorders">My Orders</a></li>
            <li><a class="<%= currentPath === '/myprofile' ? 'active' : '' %>" href="/myprofile">My Profile</a></li>
            <li><a class="<%= currentPath === '/about' ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </nav>

    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

</header>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1>You can check the total price of the order in "My Orders" section</h1>
<h2>After you submit the order you will receive an e-mail with order and payment details</h2>
<h3>Please check your e-mail provider's spam folder if you don't see our e-mail</h3>
<div class="container1">
    <form action="/orders" method="POST">

        <div class="form__input-group">
            <label for="name_surname" class="form__label">Name/Surname:</label><br>
            <input type="text" class="form__input" id="name/surname" name="name_surname"><br>
        </div>

        <div class="form__input-group">
            <label for="email" class="form__label">Email:</label><br>
            <input type="email" class="form__input" id="email" name="email"><br>
        </div>

        <div class="form__input-group">
            <label for="street_address" class="form__label">Street Address:</label><br>
            <input type="text" class="form__input" id="street_address" name="street_address"><br>
        </div>

        <div class="form__input-group">
            <label for="city" class="form__label">City:</label><br>
            <input type="text" class="form__input" id="city" name="city"><br>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="country">Country:</label><br>
            <input type="text" class="form__input" id="country" name="country"><br>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="paper_type">Paper Type:</label><br>
            <select class="form__select" id="paper_type" name="paper_type">
                <option class="form__option" value="book_paper">Book Paper</option>
                <option class="form__option" value="coated_book_paper">Coated Book Paper</option>
            </select>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="book_cover">Book Cover:</label><br>
            <select class="form__select" id="book_cover" name="book_cover">
                <option class="form__option" value="hard_cover">Hard Cover</option>
                <option class="form__option" value="soft_cover">Soft Cover</option>
            </select>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="page_amount">Page Amount:</label><br>
            <input type="text" class="form__input" id="page_amount" name="page_amount"><br>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="book_quantity">Book Quantity:</label><br>
            <input type="text" class="form__input" id="book_quantity" name="book_quantity"><br><br>
        </div>

        <div class="form__button">
            <button type="submit" value="Submit"> Order</button>
        </div>

    </form>


</div>


</body>